<html>

<head>
    <title>笨笨的博客小站 —— 发布我的博客</title>
    <meta charset="utf8">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/edit.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/default.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/idea.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/edit.js"></script>
</head>

<body>
    <div class="container">
        <div class="topmsg">
            <span class="close">×</span>
            <span class="info"></span>
        </div>
        <div class="top line">
            <h3>发布新博客：</h3>
            <div class="title">
                <input name="title" placeholder="请输入博客标题" autocomplete="off">
            </div>
        </div>
        <div class="body line">
            <div id="bodyleft" class="bodypart">
                <div class="content markdown previewer" data-placeholder="(您的markdown内容会实时在这里预览！)"></div>
            </div>
            <div id="bodyright" class="bodypart">
                <div class="content editor" contentEditable="true"></div>
            </div>
        </div>
        <div class="bottom line">
            <button class="goback">返回</button>
            <button class="publish">发布</button>
        </div>
    </div>
</body>

</html>
