<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <title>笨笨的博客小站</title>
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/default.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/idea.css">
 -->
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/list.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/list.js"></script>
</head>
</head>

<body>
    <div class="container">
        <header>
            <h2>笨笨的博客小站</h2>
            <hr>
            <h4>认真生活，快乐工作</h4>
        </header>
        <div class="navigation">
            <span class="left">
                <a href="http://baidu.com" class="selected">首页</a>
                <a href="http://baidu.com">关于本站</a>
                <a href="http://baidu.com">关于我</a>
            </span>
            <span class="right">
                <span class="search">
                    <input name="search" placeholder="搜索本站" tabindex="1" />
                    <img class="right pointer" src="/images/search.png" />
                </span>
            </span>
        </div>
        <div class="body">
            <div class="bloglist left">
                <ul>
                    <!-- <li class="blog">
                        <h2 class="title">
                            <a href="http://baidu.com">xxxx</a>
                        </h2>
                        <hr />
                        <div class="info">
                            <span class="author" title="作者">
                                <img src="/images/people.png">
                                <span>王烨</span>
                            </span>
                            <span class="datetime" title="创建时间">
                                <img src="/images/calendar.png">
                                <span>2012-12-12</span>
                            </span>
                            <span class="right">

                                <span class="readcount" title="阅读数">
                                    <img src="/images/view.png">
                                    <span>100</span>
                                </span>
                                <span class="commentcount" title="评论数">
                                    <img src="/images/comment.png">
                                    <span>20</span>
                                </span>
                                <span class="score" title="用户评分">
                                    <img src="/images/star.png">
                                    <span>4.55</span>
                                </span>
                            </span>
                        </div>
                        <div class="content">
                            角色CSS text-align图片文字内容居左 居右 居中 CSS text-align之CSS居中（text-align:center）、CSS内容居左(text-align:left)、CSS文字居右(text-align:right)样式属性篇，图片、文字内容对齐 居中 居左 居右篇 CSS text-align目录 text-align语法 text-align常使用地方 DIV CSS text-align实例 text-align样式属性总结CSS text-align图片文字内容居左 居右 居中 CSS text-align之CSS居中（text-align:center）、CSS内容居左(text-align:left)、CSS文字居右(text-align:right)样式属性篇，图片、文字内容对齐 居中 居左 居右篇 CSS text-align目录 text-align语法 text-align常使用地方 DIV CSS text-align实例 text-align样式属性总结
                        </div>
                        <hr>
                        <div class="link">
                            <a href="http://baidu.com">原文链接</a>
                            <span class="tags right">
                                相关标签：
                                <a href="http://baidu.com" class="tag">并发</a>
                                <a href="http://baidu.com" class="tag">Java</a>
                                <a href="http://baidu.com" class="tag">爱立信</a>
                            </span>
                        </div>
                    </li> -->
                    {{#each bloglist}}
                    <li class="blog">
                        <h2 class="title">
                            <a href="/blog/detail?id={{id}}">{{title}}</a>
                        </h2>
                        <hr />
                        <div class="info">
                            <span class="author" title="作者">
                                <img src="/images/people.png">
                                <span>{{author}}</span>
                            </span>
                            <span class="datetime" title="创建时间">
                                <img src="/images/calendar.png">
                                <span>{{displayCreated}}</span>
                            </span>
                            <span class="right">
                                <span class="readcount" title="阅读数">
                                    <img src="/images/view.png">
                                    <span>{{viewcount}}</span>
                                </span>
                                <span class="commentcount" title="评论数">
                                    <img src="/images/comment.png">
                                    <span>0</span>
                                </span>
                                <span class="score" title="用户评分">
                                    <img src="/images/star.png">
                                    <span>4.55</span>
                                </span>
                            </span>
                        </div>
                        <div class="content">{{{displayContent}}}</div>
                        <hr>
                        <div class="link">
                            <a href="/blog/detail?id={{id}}">原文链接</a>
                            <span class="tags right">
                                相关标签： {{#each displayTags}}
                                <a href="http://baidu.com" class="tag">{{this}}</a>
                                {{/each}}
                            </span>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <div class="pagination">
                    <div>
                        <a href="" class="disabled">首页</a>
                        <a href="">上页</a>
                        <a href="">1</a>
                        <a href="" class="selected disabled">2</a>
                        <a href="">3</a>
                        <a href="javascript:void(0);" class="disabled">...</a>
                        <a href="">12</a>
                        <a href="">13</a>
                        <a href="">下页</a>
                        <a href="">末页</a>
                    </div>
                </div>
            </div>
            <div class="blogindex left">
                <div class="latest index radius_5">
                    <h4>最新博客</h4>
                    <ul>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                        <li>xxxx</li>
                    </ul>
                </div>
                <div class="populartags index radius_5">
                    <h4>热门标签</h4>
                    <span class="tagcloud">
                        <a href="http://baidu.com" class="tag size1">Java</a>
                        <a href="http://baidu.com" class="tag size2">算法</a>
                        <a href="http://baidu.com" class="tag size3">数据结构</a>
                        <a href="http://baidu.com" class="tag size2">jvm</a>
                        <a href="http://baidu.com" class="tag size1">javascript</a>
                        <a href="http://baidu.com" class="tag size5">css</a>
                        <a href="http://baidu.com" class="tag size4">机器学习</a>
                        <a href="http://baidu.com" class="tag size2">jvm</a>
                        <a href="http://baidu.com" class="tag size1">架构</a>
                        <a href="http://baidu.com" class="tag size5">css</a>
                        <a href="http://baidu.com" class="tag size4">Android</a>
                    </span>
                </div>
                <div class="popular index radius_5">
                    <h4>常用链接</h4>
                    <ul>
                        <li>
                            <a href="http://equation85.github.io/blog/markdown-examples/">Markdown教程</a>
                        </li>
                        <li>
                            <a href="http://wowubuntu.com/markdown/">Markdown教程</a>
                        </li>
                        <li>
                            <a href="http://expressjs.com/">Express教程</a>
                        </li>
                        <li>
                            <a href="http://nodejs.org/api/">Nodejs API</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <div>版权所有 © 2014 www.kllwxy.com</div>
        </footer>
    </div>
</body>

</html>
